* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.header {
    background-image: url(../src/img/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.header h1 {
    margin-top: 25vh;
}